  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #7b7ddb #2b293f;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #212838;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4c4da0;
    border-radius: 50px;
  }